/************************************************
     GENERAL STYLES
 ************************************************/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

main{
  height: calc(100vh - 180px) ;
  overflow:scroll;
}

img{
  width: 100%;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

h6{
  font-size:.6rem;
}

i{
  margin-right: 10px;
}


/************************************************
     UTILITIES
 ************************************************/

.d-flex{
  display: flex;
}

.d-inline{
  display: inline;
}

.space-between{
  justify-content: space-between;
}

.wrap{
  flex-wrap: wrap;
}

.upper{
  text-transform: uppercase;
}

.debug{
  border: 1px solid black;
  background-color: lightcoral;
}

/************************************************
     SITE SECTIONS
 ************************************************/

/* sidebar */
.sidenav{
  width: 230px;
  padding: 0;
  height: calc(100vh - 90px);
  /* margin-bottom: 90px; */
  float: left;
  text-align: left;
}

.sidenav .nav-desktop{
  margin-left: 10px;
}

.sidenav .nav-desktop ul li{
  margin-bottom: 10px;
  line-height: 25px;
}

.sidenav .nav-desktop img{
  width: 25px;
  margin-right: 10px;
  /* vertical-align: middle; */
}

.sidenav .nav-desktop .logo {
  height: 90px;
}

.sidenav .nav-desktop .logo img{
  width: 80%;
  vertical-align: middle;
  padding: 10px;
}

.sidenav .nav-desktop .nav-desktop-playlist{
  overflow-y: scroll;
}

.sidenav .nav-desktop-playlist .list-name{
margin: 20px 0 12px 0;
}


.sidenav .nav-desktop-playlist h4{
  margin-bottom: 20px;
}

.sidenav-bottom{
  display: flex;
  align-items: center;
}

.sidenav-bottom a{
  font-size: 0.6rem;
  /* line-height: 20px; */
}

.sidenav-bottom img{
  height: 1rem;
  display: inline;
}

.sidenav-bottom h6{
  display: inline;
}

.sidenav .nav-mobile{
  display: none;
}

/* header */
header{
  top:0;
  right: 0px;
  width: calc(100% - 230px);
  height: 90px;
}

.menu{
  height: 60px;
  width: 100%;
  text-align: center;
}

.container{
  width: 100%;
}

.row{
  width: 100%;
  padding-left: 20px;
}

.col-dt-16{
  width: calc(100% / 6);
  max-width: 180px;
  height: 280px;
  padding: 8px;
}

.card{
  width: 100%;
  height: 100%;
}

footer{
  height: 90px;
}

/************************************************
     RESPONSIVE
 ************************************************/

@media screen and (max-width: 768px) {
  .col-tb-25{
    width: 25%;
  }

  .row{
    flex-wrap: wrap
  }

  body{
    background-color: violet;
  }

}

@media screen and (max-width: 600px) {

  body{
    background-color: green;
  }

  .col-mb-50{
    min-width: 50%;
  }

  .row{
    width: 100%;
    flex-wrap: wrap
  }
}

@media screen and (max-width: 480px) {
  
  header{
    width: calc(100% - 50px);
  }


  .sidenav{
    width: 50px;
    background-color: blue;
  }

  .sidenav .nav-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sidenav .nav-mobile img{
    width: 50%;
    margin: 10px;
  }
  
  .sidenav .nav-desktop{
    display: none;
  }

}
  